<IfModule mod_rewrite.c>
	RewriteEngine On
	#RewriteBase /thinkandmake/web/
	#RewriteCond %{HTTP_HOST} ^s317722982.mialojamiento.es/thinkandmake/web
	#RewriteRule (.*) http://s317722982.mialojamiento.es/thinkandmake/web/$1 [R=301,L]
	# thinkandmake.ondissenyweb.com
	RewriteCond %{HTTP_HOST} ^thinkandmake.dev
	RewriteRule (.*) http://www.thinkandmake.dev/$1 [R=301,L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?route=$1 [L,QSA] 
    
</IfModule>

